.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Стандартный синтаксис */
}

.leaderboard{
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background-color: #bbada0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.leaderboard_h{
    background-color: #eee4da;
    color: #776e65;
    text-align: center;
    font-weight: bold;
    margin: 25px 0 10px;
    padding: 10px;
}

.leadertable{
    display: block;
    overflow-x: auto;
} 

.leaderboard_tr{
    text-align:left;
    color: #776e65;
    border-top: 1px solid #ccc;
}

.leaderboard_tr:nth-child(even) td {
    background-color: #ede0c8;
    padding-left: 5px;
}

.leaderboard_tr:nth-child(odd) td {
    background-color: #f9f6f2;
    padding-left: 5px;
}

.leaderboard_tr:nth-child(1) td {
    background-color: #bbada0;
    color: #f9f6f2;
    padding-left: 5px;
}

.close_leaderboard{
    background-color: #8f7a66;
    border: none;
    font-family: 'Arial', sans-serif;
    color: #f9f6f2;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.3),
                inset 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    position: absolute;
    font-size: medium;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
}

.modal_paragraph{
    white-space: pre;
}

input.modal_input.ch::placeholder {
    color: #ff4747;

}

input.modal_input::placeholder {
    color: #000000;

}

.name_header{
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff6f61, #6a82fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.score_block{
    display: grid;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
}

.score_name{
    position: relative;
    text-align: center;
}

.current_score{
    position: relative;
    text-align: center;
}

.leaderboard_button{
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    text-align: center;
    background-color: #8f7a66;
    border: none;
    font-family: 'Arial', sans-serif;
    color: #f9f6f2;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.3),
                inset 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.restart_button{
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    text-align: center;
    background-color: #8f7a66;
    border: none;
    font-family: 'Arial', sans-serif;
    color: #f9f6f2;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.3),
                inset 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.undo_button{
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    text-align: center;
    background-color: #8f7a66;
    border: none;
    font-family: 'Arial', sans-serif;
    color: #f9f6f2;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(255,255,255,0.3),
                inset 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.playground{
    background-color: rgb(119, 108, 76);
    display: grid;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    text-align: center;
}

.game_end{
    max-width: 280px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf8f4; /* светлый фон */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.modal_paragraph{
    color: #461f00;
    margin-bottom: 15px;
}

.modal_input{
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s;
}

.modal_input{
    font-size: 18px;
}

.modal_paragraph{
    font-size: 22px;
    font-weight: 800;
}

.modal_restart,
.modal_approve{
    font-size: 18px;
}

.modal_restart,
.modal_approve{
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.num_box{
    text-align: center;
    background-color:  rgb(211, 191, 132);
}

.nb2{
    background-color:  rgb(239, 255, 148);
}

.nb4{
    background-color:  rgb(214, 255, 148);
}

.nb8{
    background-color:  rgb(209, 255, 148);
}

.nb16{
    background-color:  rgb(160, 255, 148);
}

.nb32{
    background-color:  rgb(148, 255, 180);
}

.nb64{
    background-color:  rgb(148, 255, 241);
}

.nb128{
    background-color:  rgb(148, 225, 255);
}

.nb256{
    background-color:  rgb(148, 176, 255);
}

.nb512{
    background-color:  rgb(176, 148, 255);
}

.nb1024{
    background-color:  rgb(237, 148, 255);
}

.nb2048{
    background-color:  rgb(255, 148, 223);
}

.nb4096{
    background-color:  rgb(255, 148, 171);
}

.nb8192{
    background-color:  rgb(255, 148, 148);
}

.nb16384{
    background-color:  rgb(255, 178, 148);
}

.nb32768{
    background-color:  rgb(255, 139, 93);
}

.nb65536{
    background-color:  rgb(253, 100, 39);
}

.nb131072{
    background-color:  rgb(255, 72, 0);
}

@media (min-width: 320px) and (max-width: 767px) {
    .leaderboard{
        width: 280px;
    }

    .leaderboard_tr{
        font-size: 16px;
    }

    .leaderboard_h{
        font-size: 24px;
    }

    .leadername{
        min-width: 120px;
        max-width: 120px;
    }

    .leaderscore{
        min-width: 60px;
        max-width: 60px;
    }

    .leaderdate{
        min-width: 100px;
        max-width: 100px;
    }

    .name_header{
        width: 130px;
        height: 80px;
        margin: -265px 0 0 -135px;
        font-size: 34pt;
        font-weight: 800;
    }

    .score_block{
        grid-template-columns: 130px;
        grid-template-rows: 10px 40px;
        margin: -245px 0 0 20px;
    }

    .score_name{
        width: 135px;
        height: 10px;
        font-size: 14pt;    
    }

    .current_score{
        width: 135px;
        height: 40px;
        font-size: 30pt;
        font-weight: 800;
    }

    .num_box{
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 6px;
    }

    .playground{
        width: 270px;
        height: 270px;
        margin: -135px 0 0 -135px;
        padding: 10px 10px 10px 10px;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(4, 60px);
        gap: 10px;
        border-radius: 8px;
    }

    .undo_button{
        margin: 165px 0 0 -135px;
        width: 135px;
        height: 40px;
        font-size: 13pt;
        border-radius: 4px;
    }

    .restart_button{
        margin: 165px 0 0 20px;
        width: 135px;
        height: 40px;
        font-size: 13pt;
        border-radius: 4px;
    }

    .leaderboard_button{
        width: 130px;
        height: 40px;
        margin: -185px 0 0 -135px;
        font-size: 12pt;
        border-radius: 4px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .leaderboard{
        width: 480px;
    }

    .leaderboard_tr{
        font-size: 20px;
    }

    .leaderboard_h{
        font-size: 32px;
    }

    .leadername{
        min-width: 210px;
        max-width: 210px;
    }

    .leaderscore{
        min-width: 100px;
        max-width: 100px;
    }

    .leaderdate{
        min-width: 170px;
        max-width: 170px;
    }

    .name_header{
        width: 175px;
        height: 80px;
        margin: -325px 0 0 -175px;
        font-size: 34pt;
        font-weight: 900;
    }

    .score_block{
        grid-template-columns: 175px;
        grid-template-rows: 20px 60px;
        margin: -305px 0 0 20px;
    }

    .score_name{
        width: 175px;
        height: 20px;
        font-size: 20pt; 
        font-weight: 700;   
    }

    .current_score{
        width: 175px;
        height: 60px;
        font-size: 34pt;
        font-weight: 900;
    }

    .num_box{
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 18pt;
        border-radius: 8px;
    }

    .playground{
        width: 350px;
        height: 350px;
        margin: -175px 0 0 -175px;
        padding: 10px 10px 10px 10px;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(4, 80px);
        gap: 10px;
        border-radius: 10px;
    }

    .undo_button{
        margin: 205px 0 0 -175px;
        width: 175px;
        height: 50px;
        font-size: 16pt;
        font-weight: 600;
        border-radius: 8px;
    }

    .restart_button{
        margin: 205px 0 0 20px;
        width: 175px;
        height: 50px;
        font-size: 16pt;
        font-weight: 600;
        border-radius: 8px;
    }

    .leaderboard_button{
        width: 175px;
        height: 60px;
        margin: -245px 0 0 -175px;
        font-size: 18pt;
        font-weight: 600;
        border-radius: 8px;
    }
}

@media (min-width: 1024px) {
    .leaderboard{
        width: 640px;
    }

    .leaderboard_tr{
        font-size: 26px;
    }

    .leaderboard_h{
        font-size: 38px;
    }

    .leadername{
        min-width: 280px;
        max-width: 280px;
    }

    .leaderscore{
        min-width: 130px;
        max-width: 130px;
    }

    .leaderdate{
        min-width: 230px;
        max-width: 230px;
    }

    .name_header{
        width: 220px;
        height: 80px;
        margin: -390px 0 0 -220px;
        font-size: 46pt;
        font-weight: 1000;
    }

    .score_block{
        grid-template-columns: 220px;
        grid-template-rows: 30px 80px;
        margin: -380px 0 0 20px;
    }

    .score_name{
        width: 220px;
        height: 30px;
        font-size: 26pt;   
        font-weight: 700; 
    }

    .current_score{
        width: 220px;
        height: 80px;
        font-size: 42pt;
        font-weight: 1000;
    }

    .num_box{
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 22pt;
        font-weight: 800;
        border-radius: 10px;
    }

    .playground{
        width: 430px;
        height: 430px;
        margin: -220px 0 0 -220px;
        padding: 15px 15px 15px 15px;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(4, 100px);
        gap: 10px;
        border-radius: 14px;
    }

    .undo_button{
        margin: 250px 0 0 -220px;
        width: 220px;
        height: 60px;
        font-size: 20pt;
        font-weight: 700;
        border-radius: 10px;
    }

    .restart_button{
        margin: 250px 0 0 20px;
        width: 220px;
        height: 60px;
        font-size: 20pt;
        font-weight: 700;
        border-radius: 10px;
    }

    .leaderboard_button{
        width: 220px;
        height: 60px;
        margin: -290px 0 0 -220px;
        font-size: 17pt;
        font-weight: 600;
        border-radius: 10px;
    }
}
